* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #808080;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #4a4a4a;
  padding: 20px;
  border-radius: 5px;
}

.user-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
}

.user-input-container {
  display: flex;
  justify-content: space-between;
}

#user-input {
  width: 80%;
  padding: 0.2rem;
  border-radius: 5px;
}

#search-btn {
  padding: 0.2rem;
  border-radius: 5px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #4caf50;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  font-weight: 700;
  background: conic-gradient(#4caf50 var(--progress-degree, 0%), #141f15 0%);
}

.circle span {
  position: relative;
  z-index: 2;
}

.progress {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.stats-card {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #0b762f;
  border-radius: 8px;
  width: 100%;
  padding: 10px;
  margin: 4px;
  font-size: 1rem;
}




